---
layout: default
---

<div class="home">

  <h1 class="page-heading">Our Vision</h1>

  <p>That first conversation when you meet a best friend or even fall in love: We trot out our best stories to make a great first impression and ask questions connect with the other person while avoiding uncomfortable silences. We share more personal details about ourselves, and the conversation grows in depth. These conversations make us feel valued as people by allowing us to be ourselves and move beyond pleasantries to talk about things we might not normally.  However, current conversations with socialbots fall short, driven by short scripts that mindlessly regurgitate facts about movies, technology, and sports.  Our vision is to build a socialbot that connects with users through active listening and, through mutual storytelling, builds a meaningful connection based who they are as a person.</p>

  <h1 class="page-heading">Team Wolverine</h1>

  <div class="w3-row">
    <div class="w3-col m4 l3">
      <h2 class="page-subheading">Advisers</h2>
      {% include icon-member.html name="David Jurgens" src_name="david_jurgens" %}
      {% include icon-member.html name="Nikola Banovic" src_name="nikola_banovic" %}
    </div>
    <div class="w3-col m8 l9">
      <h2 class="page-subheading">Students</h2>
      {% include icon-member.html name="Chung Hoon Hong" src_name="chung_hoon_hong" %}
      {% include icon-member.html name="Vihang Agarwal" src_name="vihang_agarwal" %}
      {% include icon-member.html name="William Chen" src_name="william_chen" %}
      {% include icon-member.html name="Ryan Draves" src_name="ryan_draves" %}
      {% include icon-member.html name="Arushi Jain" src_name="arushi_jain" %}
      {% include icon-member.html name="Yujian Liu" src_name="yujian_liu" %}
      {% include icon-member.html name="Bruce Park" src_name="bruce_park" %}
      {% include icon-member.html name="Sagnik Sinha Roy" src_name="sagnik_sinha_roy" %}
      {% include icon-member.html name="Yiting Shen" src_name="yiting_shen" %}
      {% include icon-member.html name="Yucen Sun" src_name="yucen_sun" %}
      {% include icon-member.html name="Junjie Xing" src_name="junjie_xing" %}
      {% include icon-member.html name="Zhizhuo Zhou" src_name="zhizhuo_zhou" %}
    </div>
  </div>
  

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>

</div>
