/*
 * CSS for team icons
 */
.team-member {
    display: inline-block;
    width: 100px;
    margin: 5px;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    p {
        text-align: center;
    }
    &:hover {
        opacity: 0.8;
    }
}

.team-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
